aws_region = "eu-central-1"
access_key = "<aws-access-key>"
secret_key = "<aws-secret>"
# aws keypair for ec2 deployment
keypair_name "DDVE6-key-pair-js"
#decide which ddve version you wanna use
# ddve-7.3.0.5-663138-GA-3cc6672f-1de3-47d6-8eb2-31f9ebd815c7
# ddve-7.4.0.5-671629-GA-3cc6672f-1de3-47d6-8eb2-31f9ebd815c7
# ddve-7.5.0.5-677770-GA-3cc6672f-1de3-47d6-8eb2-31f9ebd815c7
ami_filtername = "ddve-7.5.0.5-677770-GA-3cc6672f-1de3-47d6-8eb2-31f9ebd815c7"
# Metadata Disk Size for DDVE
# here you can sent the size of you ddve you wanna deploy with terraform apply
#Instance Type# M5.xlarge M5.2xlarge M5.4xlarge M5.8xlarge
#capacity     #   16          32          96       256
#meta disk    #    2          4          10        13
#size of  meta#   1024      1024       1024       2024
instance_type      = "m4.xlarge"
amount_of_metadisk = 2
ebs_volume_size    = 1024
/**/
/*
instance_type      = "M5.2xlarge"
amount_of_metadisk = 4
ebs_volume_size    = 1024
*/
/*
instance_type      = "M5.4xlarge"
amount_of_metadisk = 10
ebs_volume_size    = 1024
*/
/*
instance_type      = "M5.8xlarge"
amount_of_metadisk = 13
ebs_volume_size    = 2048
*/